<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>波浪微博</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href='stylesheets/bootstrap-3.3.7/css/bootstrap.min.css'>
    <script src='javascripts/jquery-3.1.0.min.js'></script>
    <script src='javascripts/bootstrap.min.js'></script>
    <style>
        body {
            padding-top: 50px;
            padding-left: 50px;
        }
        body{
            font-family: "微软雅黑";
        }
        .tablemusic,label{
            color: white;
        }
        .size{
            height: 800px;
        }
        .divImg{
            max-height: 450px; max-width:450px;
        }

    </style>
</head>
<body>
<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div  class="size" >
            <div class="form-horizontal" >
                <div class="form-group" style="margin-top: 15px" id="sceneone1">
                    <div >
                        <label for="originalpw" class="control-label" style="float: left;margin: 7px" >当前密码</label><input type="text" class="form-control"name="originalpw" id="originalpw" placeholder="请输入当前密码" style="width: 70% " >
                    </div>
                </div>
                <div class="form-group" id="sceneone2">
                    <div >
                        <label style="float: left;width: 15px"></label><label for="usesafety" class="control-label" style="float: left;margin: 7px" >安全码</label><input type="text" class="form-control"name="usesafety" id="usesafety" placeholder="请输入安全码" style="width: 70% " >
                    </div>
                </div>
                <div class="form-group" style="margin-top: 15px;display: none"id="scenetwo1">
                    <div >
                        <label for="newpw" class="control-label" style="float: left;margin: 7px" >&nbsp&nbsp&nbsp新密码</label><input type="text" class="form-control"name="newpw" id="newpw" placeholder="请输入当前密码" style="width: 70% " >
                    </div>
                </div>
                <div class="form-group" style="display: none"id="scenetwo2">
                    <div >
                        <label for="newtwopw" class="control-label" style="float: left;margin: 7px" >重复密码</label><input type="text" class="form-control"name="newtwopw" id="newtwopw" placeholder="请输入安全码" style="width: 70% " >
                    </div>
                </div>
                <div class="form-group" style="margin: 25px">
                    <div>
                        <label style="width: 128px"></label>
                        <button class="btn btn-default" onclick="savechangepw()" id="sceneone3">确认</button>
                        <button class="btn btn-default" onclick="abandonchangepw()" id="sceneone4">取消</button>
                        <button class="btn btn-default" onclick="savechangenewpw()" style="display: none" id="scenetwo3">确认</button>
                        <button class="btn btn-default" onclick="abandonchangenewpw()" style="display: none" id="scenetwo4">取消</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
<script>
    function savechangepw() {
        var originalpw=$("#originalpw").val();
        var usesafety=$("#usesafety").val();
        $.ajax({
            type:'post',
            url:'/savechangepw',
            data:{
                "originalpw":originalpw,
                "usesafety":usesafety
            },
            dataType:'json',
            success:function (msg) {
                var result=eval(msg);
                 if(result.result=="fail"){
                     alert("信息错误");
                 }
                else if(result.result=="success"){
                     alert("确认成功");
                     $("#sceneone1,#sceneone2,#sceneone3,#sceneone4").hide();
                     $("#scenetwo1,#scenetwo2,#scenetwo3,#scenetwo4").show();
                 }
            }

        })
    }
    function savechangenewpw() {
        var newpw=$("#newpw").val();
        var newtwo=$("#newtwopw").val();
        if(newpw==newtwo){
            $.ajax({
                type:'post',
                url:'/savechangenewpw',
                data:{
                    "newpw":newpw
                },
                dataType:'json',
                success:function (msg) {
                    var result=eval(msg);
                    if(result.result=="success"){
                        alert("修改成功");
                    }
                }
            })
        }
        else{
            alert("两次密码输入不一致");
        }
    }
    function abandonchangepw() {
        window.close();
    }
    function abandonchangenewpw() {
        window.close();
    }
</script>
</body>
</html>