.progressmusic {
    padding-left:500px
}
.progressmusic {
    position: absolute;
    bottom: 35px;
    right:97px;
    width: 100%;
}
#music-bar {
    display: inline-block;
    width: 218px;
    height: 4px;
    background: #6d6d6d;
    margin-right: 7px;
    border-radius: 4px;
    margin-left: 5px;
    cursor: pointer;
    position: relative;
}
#music-bar {
    width: 70%;
    margin-left: 5%;
    margin-right: 9%;
}
#voice-bar {
    display: inline-block;
    width: 80px;
    height: 4px;
    background: #6d6d6d;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}
#voice-bar {
    width: 15%;
}
#played-bar, #voiced-bar {
    display: inline-block;
    height: 4px;
    float: left;
    border-radius: 4px;
    background: -webkit-linear-gradient(left, #5bc0de, #1e6bb8);
    background: linear-gradient(left, #5bc0de, #1e6bb8);
    position: absolute;
    z-index: 2;
    transition: all 0.5s;
}
#played-bar:after, #voiced-bar:after {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    right: -2px;
    top: -2px;
}
/*#load-bar {
    display: inline-block;
    height: 4px;
    float: left;
    border-radius: 4px;
    background: #a2a2a2;
    position: absolute;
    z-index: 1;
    transition: all 3s;
}*/